# Node.js
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias específicas de la instalación
package-lock.json
yarn.lock

# Archivos de configuración de IDE
.vscode/

# Archivos de entorno
.env
