<!DOCTYPE html>
<html lang="es">

<head>
    <title>Plan de Estudio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Styles/main.css" />
    <link rel="stylesheet" href="/Styles/Admin_PlanEstudio.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/Admin_PlanEstudio.js"></script>
</head>

<body>
    <!-- Barra lateral (SideBar) -->
   <section class="full-box cover dashboard-sideBar">
        <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
        <div class="full-box dashboard-sideBar-ct">
            <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                Bedel <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
            </div>
            <div class="full-box dashboard-sideBar-UserInfo">
                <figure class="full-box">
                    <img src="/assets/img/logo_IES.jpg" alt="UserIcon">
                </figure>
                <ul class="full-box list-unstyled text-center">
                    <li><a href="#" class="btn-exit-system" id="logout-button"><i class="zmdi zmdi-power"></i></a></li>
                </ul>
            </div>
            <ul class="list-unstyled full-box dashboard-sideBar-Menu">
                <li><a href="/Administracion"><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i> Carreras</a></li>
                <li><a href="/mesa"><i class="zmdi zmdi-calendar-check zmdi-hc-fw"></i> Mesas</a></li>
                <li><a href="/alumnoEstado"><i class="zmdi zmdi-accounts zmdi-hc-fw"></i> Gestión académica</a></li>
                <li><a href="/AdministracionSuperAdmin"><i class="zmdi zmdi-settings zmdi-hc-fw"></i> Super Admin</a>
                </li>
            </ul>
        </div>
    </section>

    <!-- Contenido de la página principal -->
    <section class="full-box dashboard-contentPage" style="overflow-y: auto; overflow-x: hidden;">
        <nav class="full-box dashboard-Navbar">
            <ul class="full-box list-unstyled text-right">
                <li class="pull-left">
                    <a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
                </li>
            </ul>
        </nav>

       <div class="container mt-4">
    <h3>Información de la Carrera</h3>
    <table class="table table-bordered">
        <tbody id="infoCarrera"></tbody>
    </table>
</div>

<div class="container mt-4">
    <h4 class="mt-4">Materia</h4>
    <button id="nuevaMateriaPlanDeEstudio" class="btn btn-add" onclick="mostrarFormularioMateria()">Agregar Materia</button>
    
    <div id="formContainer" style="display: none;">
        <form id="formMateria" method="post" action="/materia/nuevaMateriaPlanDeEstudio">
    <div class="form-group">
        <label for="nombreMateria">Nombre de la Materia:</label>
        <input type="text" class="form-control" id="nombreMateria" name="nombreMateria" required />
    </div>
    <div class="form-group">
        <label for="correlativas">Correlativas:</label>
        <input type="text" class="form-control" id="correlativas" name="correlativas" placeholder="Buscar correlativas..." />
    </div>
    <button type="submit" class="btn btn-guardar">Guardar Materia</button>
    <button type="button" class="btn btn-cancelar" onclick="cancelar('formContainer')">Cancelar</button>
</form>

    </div>
</div>

<div class="container mt-4">
    <h4 class="mt-4">Materias</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre de la Materia</th>
                <th>Correlativas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="listaMaterias"></tbody>
    </table>
</div>

<div class="container mt-4">
    <h4 class="mt-4">Alumnos</h4>
    <button id="nuevoAlumnoPlanDeEstudio" class="btn btn-add" onclick="mostrarFormularioAlumno()">Agregar</button>
    <form id="formAgregar" method="post" action="/alumno/agregarAlumnoPlanEstudio" style="display: none;">
    <div>
        <label for="nombreCompleto">Nombre Completo:</label>
        <input type="text" id="nombreCompleto" name="nombreCompleto" required />
    </div>
    <div>
        <label for="numDocAlumn">Número de Documento:</label>
        <input type="number" id="numDocAlumn" name="numDocAlumn" required placeholder="Sin puntos" />
    </div>
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required />
    </div>
    <div>
        <label for="corte">Corte:</label>
        <input type="text" id="corte" name="corte" required>
    </div>
    <div>
        <label for="emailAlumn">Email:</label>
        <input type="email" id="emailAlumn" name="emailAlumn" />
    </div>
    <div>
        <label for="curso">Curso:</label>
        <input type="text" id="curso" name="curso" required placeholder="Primero, Segundo, etc" />
    </div>
    <div>
        <label for="tituloSecundario">Título Secundario:</label>
        <input type="checkbox" id="tituloSecundario" name="tituloSecundario" value="true" />
    </div>
    <div>
        <label for="psicofisico">Psicofísico:</label>
        <input type="checkbox" id="psicofisico" name="psicofisico" value="true" />
    </div>
    <div>
        <label for="partidaNacim">Partida de Nacimiento:</label>
        <input type="checkbox" id="partidaNacim" name="partidaNacim" value="true" />
    </div>
    <div>
        <label for="dniActualizado">DNI Actualizado:</label>
        <input type="checkbox" id="dniActualizado" name="dniActualizado" value="true" />
    </div>
    <div>
        <label for="analiticoFiel">Analítico Fiel:</label>
        <input type="checkbox" id="analiticoFiel" name="analiticoFiel" value="true" />
    </div>
    <div>
        <label for="antecedenPen">Antecedentes Penales:</label>
        <input type="checkbox" id="antecedenPen" name="antecedenPen" value="true" />
    </div>
    <button type="submit" class="btn btn-guardar">Guardar Alumno</button>
    <button type="button" class="btn btn-cancelar" onclick="cancelar('formAgregar')">Cancelar</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Número de Documento</th>
                <th>Email</th>
                <th>Curso</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="listaAlumnos"></tbody>
    </table>
</div>

</html>