<!DOCTYPE html>
<html lang="es">

<head>
	<title>Mesas</title>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum=scale=1.0">
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<!-- Enlace al archivo CSS principal -->
	<link rel="stylesheet" href="/Styles/main.css">
	<link rel="stylesheet" href="/Styles/Admin_Mesa.css">
</head>

<body>
	<!-- Barra lateral (SideBar) -->
	<section class="full-box cover dashboard-sideBar">
		<!-- Fondo del menú lateral, se muestra en dispositivos pequeños -->
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<!-- Contenedor del contenido del menú lateral -->
		<div class="full-box dashboard-sideBar-ct">
			<!-- Título del menú lateral -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				Bedel <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- Información del usuario en el menú lateral -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
					<img src="/assets/img/logo_IES.jpg" alt="UserIcon">
					<h5>IES 9-024 "Lavalle"</h5>
				</figure>
				<!-- Opciones de configuración y salir -->
				<ul class="full-box list-unstyled text-center">
					<li>
						<a href="#" id="logout-button">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- Menú principal -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">

				<li><a href="/Administracion"><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i> Carreras</a></li>
				<li><a href="/mesa"><i class="zmdi zmdi-calendar-check zmdi-hc-fw"></i> Mesas</a></li>
				<li><a href="/alumnoEstado"><i class="zmdi zmdi-accounts zmdi-hc-fw"></i> Gestion academica</a></li>
				<li><a href="/AdministracionSuperAdmin"><i class="zmdi zmdi-settings zmdi-hc-fw"></i> Super Admin</a>
				</li>
			</ul>

		</div>
	</section>

	<!-- Contenido de la página principal -->
	<section class="full-box dashboard-contentPage" style="overflow-y: auto; overflow-x: hidden;">


		<!-- Barra de navegación superior (NavBar) -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<!-- Botón para mostrar/ocultar el menú lateral -->
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
			</ul>
		</nav>

		<!-- Página de Mesas -->
		<center>
			<div class="container-fluid">
				<div class="page-header">
					<!-- Título de la sección -->
					<h1 class="text-titles">Mesas <small></h1>
				</div>
			</div>
		</center>


		<div class="botones">
			<button id="btnAgregar" class="btn btn-add">Agregar</button>
			<button id="btnModificar" class="btn btn-edit">Modificar</button>
			<button id="btnDarDeBaja" class="btn btn-delete">Dar de Baja</button>
			<button id="btnMostrarTodos" class="btn btn-edit">Mostrar Alumnos de baja</button>
		</div>
		<!-- Formulario para agregar una nueva carrera -->
		<div class="container" id="formContainer" style="display:none; margin-top: 20px;">
			<form id="formAgregarCarrera" style="color: #333;">
				<div class="form-group">
					<label for="nombreCarrera">Nombre de la carrera:</label>
					<input type="text" id="nombreCarrera" class="form-control" placeholder="Nombre de la nueva carrera"
						required>
				</div>
				<div class="form-group">
					<label for="titulo">Título:</label>
					<input type="text" id="titulo" class="form-control" placeholder="Título" required>
				</div>
				<div class="form-group">
					<label for="cargaHoraria">Carga Horaria:</label>
					<input type="number" id="cargaHoraria" class="form-control" placeholder="Carga Horaria" required>
				</div>
				<div class="form-group">
					<label for="duracion">Duración (en años):</label>
					<input type="number" id="duracion" class="form-control" placeholder="Duración" required>
				</div>
				<button type="submit" class="btn btn-success">Agregar Carrera</button>
			</form>
		</div>
		<!-- Contenido de Mesas, se muestra en una grilla de artículos -->
		<div class="full-box text-center" style="padding: 30px 10px;">
			<!-- Mesa: Desarrollo de Software -->
			<article class="full-box tile">
				<div class="full-box tile-title text-center text-titles text-uppercase">
					Desarrollo de Software
				</div>
				<div class="full-box tile-icon text-center">
					<i class="zmdi zmdi-account"></i>
				</div>
			</article>
		</div>

		<div class="full-box text-center" style="padding: 30px 10px;">
			<!-- Mesa: Desarrollo de Software -->
			<article class="full-box tile">
				<div class="full-box tile-title text-center text-titles text-uppercase">
					Administracion de Empresas
				</div>
				<div class="full-box tile-icon text-center">
					<i class="zmdi zmdi-account"></i>
				</div>
			</article>
		</div>

		<div class="full-box text-center" style="padding: 30px 10px;">
			<!-- Mesa: Desarrollo de Software -->
			<article class="full-box tile">
				<div class="full-box tile-title text-center text-titles text-uppercase">
					Seguridad e Higiene
				</div>
				<div class="full-box tile-icon text-center">
					<i class="zmdi zmdi-account"></i>
				</div>
			</article>
		</div>
	</section>


	<!-- Enlaces a los scripts necesarios -->
	<script src="/js/jsBoostrap/jquery-3.1.1.min.js"></script>
	<script src="/js/jsBoostrap/sweetalert2.min.js"></script>
	<script src="/js/jsBoostrap/bootstrap.min.js"></script>
	<script src="/js/jsBoostrap/material.min.js"></script>
	<script src="/js/jsBoostrap/ripples.min.js"></script>
	<script src="/js/jsBoostrap/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/js/jsBoostrap/main.js"></script>
	<script>

	</script>
	<script src="js/Admin_Mesa.js"></script>
</body>

</html>