<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de administraci칩n</title>
     <link rel="stylesheet" href="Styles/styleBedel.css">
  <script src="admin.js"></script>
</head>
<body>
    <h1>Panel de administraci칩n</h1>
      {{#if message}}
        <p class="message">{{message}}</p>
      {{/if}}
    <nav>
        <a href="/nuevo">Nuevo</a>
        <a href="user/listar">Listar</a>

        {{!-- todavia no esta implementado --}}
        <a href="user/modificar">Modificar</a> 
        <a href="user/eliminar">Eliminar</a>

    </nav>
    <hr>
    <img src="Resources/logoceil.png" alt="Im치gen de Empresa">
    <hr>
    <button>Cerrar sesi칩n</button>
   

</body>
</html>