<html lang="es">

<head>
	<!-- Título de la página -->
	<title>Inicio</title>
	<!-- Configuración de la codificación de caracteres -->
	<meta charset="UTF-8">
	<!-- Configuración del viewport para asegurar que la página sea responsive -->
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Enlace a la hoja de estilos principal -->
	<link rel="stylesheet" href="/Styles/main.css">
</head>

<body>
	<!-- Barra lateral (SideBar) -->
	<section class="full-box cover dashboard-sideBar">
		<!-- Fondo de la barra lateral -->
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<!-- Contenedor de la barra lateral -->
		<div class="full-box dashboard-sideBar-ct">
			<!-- Título de la barra lateral -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				Bedel <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- Información del usuario en la barra lateral -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<!-- Figura que contiene la imagen del usuario -->
				<figure class="full-box">
					<img src="../assets/img/logo_IES.jpg" alt="UserIcon">
				</figure>
				<!-- Lista de botones para configuración y cierre de sesión -->
				<ul class="full-box list-unstyled text-center">
					<li>
						<a href="#!">
							<i class="zmdi zmdi-settings"></i>
						</a>
					</li>
					<li>
						<a href="#!" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- Menú de la barra lateral -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				<li>
					<!-- Opción de menú para "Carreras" -->
					<a href="/carrera">
						<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Carreras
					</a>
				</li>

				<!-- Opción de menú para "Alumnos" -->
				<li>
					<a href="/alumno">
						<i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Alumnos
					</a>
				</li>

				<!-- Opción de menú para "Mesas" -->
				<li>
					<a href="/mesa">
						<i class="zmdi zmdi-shield-security zmdi-hc-fw"></i> Mesas
					</a>
				</li>
			</ul>
		</div>
	</section>

	<!-- Página de contenido principal -->
	<section class="full-box dashboard-contentPage">
		<!-- Barra de navegación superior -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<!-- Botón para mostrar/ocultar la barra lateral -->
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<!-- Botón para mostrar el área de notificaciones -->
					<a href="#!" class="btn-Notifications-area">
						<i class="zmdi zmdi-notifications-none"></i>
						<span class="badge"></span>
					</a>
				</li>
				<li>
					<!-- Botón para mostrar el área de búsqueda -->
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
			</ul>
		</nav>
	</section>

	<!-- Área de notificaciones -->
	<section class="full-box Notifications-area">
		<!-- Fondo de la zona de notificaciones -->
		<div class="full-box Notifications-bg btn-Notifications-area"></div>
		<!-- Cuerpo de la zona de notificaciones -->
		<div class="full-box Notifications-body">
			<!-- Título de la zona de notificaciones -->
			<div class="Notifications-body-title text-titles text-center">
				Notificaciones <i class="zmdi zmdi-close btn-Notifications-area"></i>
			</div>
		</div>
	</section>
	
	<!-- Scripts para funcionalidades de la página -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/sweetalert2.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/material.min.js"></script>
	<script src="/js/ripples.min.js"></script>
	<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/js/main.js"></script>
	<script>
		// Inicializa el estilo de Material Design
		$.material.init();
	</script>
</body>

</html>
