<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="assets/img/favicon.png" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="Styles/index.css" />
  <link rel="stylesheet" href="/Styles/estilosGlobales.css" />
  <title>SISTEMA IES</title>
</head>

<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <div id="mensajeToast" class="toast-container" style="display: none;">
          <p id="mensajeTexto"></p>
        </div>

        <form class="sign-in-form" id="FormLogin">
          <img src="assets/img/logo_IES.jpg" alt="Logo IES" style="width: 160px;">
          <h2 class="title">Bienvenido</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="dni" placeholder="Ingrese su DNI" required />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="pass" placeholder="Contraseña" required />
          </div>
          <input type="submit" value="Iniciar Sesion" class="btn solid" />
        </form>

        <form class="sign-up-form" id="FormRegistro">
          <img src="assets/img/logo_IES.jpg" alt="Logo IES" style="width: 160px;">
          <h2 class="title">Registrarse</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="dni" placeholder="Ingrese su DNI" required />
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="nombre" placeholder="Ingrese su nombre" required />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" placeholder="Email" required />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="pass" placeholder="Contraseña" required />
          </div>
          <input type="submit" class="btn" value="Registrarme" />
        </form>

      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>No tienes una cuenta?</h3>
          <p></p>
          <button class="btn transparent" id="sign-up-btn">Registrate</button>
        </div>
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>Ya tienes una cuenta?</h3>
          <p></p>
          <button style="width: auto;" class="btn transparent" id="sign-in-btn">Inicia Sesion</button>
        </div>
      </div>
    </div>
  </div>
  <script src="js/index.js"></script>
</body>

</html>