/* Estilos globales */
body {  
    font-family: Arial, sans-serif;  
    background-color: #f0f4f8;  
    margin: 0;  
    padding: 0;  
}

/* Contenedores principales */
#formAgregarMesa {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-content {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaciado entre columnas */
    justify-content: center;
}
.container {  
    margin: 30px auto;  
    max-width: 1200px;  
    padding: 25px;  
    background-color: #f0f4f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    border-radius: 15px;  
    width: 97% !important;
}

/* Estilos para las tarjetas */
.card {
    position: relative;
    border: none;
    border-radius: 15px !important;
    overflow: hidden;
    background: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    flex: 1 1 calc(33.33% - 20px);
    min-width: 300px;
}

.card-header {
    background: linear-gradient(135deg, #2c3e50, #3498db);
    color: white;
    padding: 20px;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: none;
}

.card-header.activa {
    background: linear-gradient(135deg, #2c3e50, #3498db);
}

.card-header.suspendida {
    background: linear-gradient(135deg, #502c2c, #db3434);
}

.card-body {
    padding: 25px;
    background: #ffffff;
}

.card-body p {
    color: #636e72;
    line-height: 1.6;
    margin-bottom: 15px;
}

.card-body strong {
    color: #2d3436;
    font-weight: 600;
}

/* Animaciones */
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}

/* Media queries */
@media (max-width: 1200px) {
    .container {
        margin: 20px;
    }
}

@media (max-width: 768px) {
    .dashboard-header {
        padding: 30px 15px;
    }

    .dashboard-title {
        font-size: 2em;
    }

    .container {
        padding: 15px;
    }

    .card {
        margin: 10px;
    }

    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
