body {
    font-size: 14px;
    /* Disminuir tamaño de fuente general */
}

.list-group-item {
    padding: 10px;
    /* Reducir padding */
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item strong {
    font-size: 1em;
    /* Ajustar tamaño del texto */
}

.badge-correlativas {
    font-size: 0.8em;
    /* Disminuir tamaño de la badge */
    padding: 3px 8px;
    /* Ajustar padding de badge */
    background-color: #6c757d;
    color: white;
    border-radius: 15px;
}

.page-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
        /* Colocar campos uno debajo del otro */
        align-items: flex-start;
        /* Alinear a la izquierda */
    }

    .form-group label {
        margin-bottom: 5px;
        /* Espacio entre etiqueta y campo */
    }
}