

/* Estilos comunes para todos los modales */
.modal {
    backdrop-filter: none; 
    z-index: 1050 !important;
}

.modal-backdrop {
    z-index: 0 !important;
}

.modal-dialog {
    margin: 1.75rem auto;
    z-index: 1060;
    max-width: 600px;
}

.modal-content {
    border-radius: 18px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background: linear-gradient(135deg, #2c3e50, #3498db);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-header .close {
    color: white !important;
    opacity: 0.8;
}

.modal-header .close:hover {
    opacity: 1;
}

.modal-title {
    font-size: 23px !important;
    margin-bottom: 20px !important;
}

.modal-body {
    padding: 20px;
}

.modal-footer button {
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
}

/* Estilos para los botones */

.btn {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    transition: all 0.2s ease;
    cursor: pointer;
    color: white;
}
.btn:hover {
    transform: scale(1.05);
}
.btn-primary {
    background-color: #3498db !important;
    border-color: #3498db;
    color: white;
}
.btn-primary:hover {
    background-color: #d4d4d4 !important;
    border-color: #3498db;
}


.btn-secondary {
    background-color: #0f71f1 !important;
    border-color: #db3434;
    color: white;
}

.btn-secondary:hover {
    background-color: #d4d4d4 !important;
    border-color: #db3434;
}

.btn-warning {
    background-color: #f1c40f;
    color: #2c3e50;
}


.btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #d4d4d4  !important;
    border-color: #c82333;
}

.btn-tertiary {
    background-color: #1bad4c  !important;
    border-color: #1bad4c;
}
.btn-tertiary:hover {
    background-color: #d4d4d4  !important;
    border-color: #1bad4c ;
}

/* Estilos para las notificaciones Toast */
.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-size: 16px;
    opacity: 0.9;
}

.toast-container.success {
    background-color: #28a745;
}

.toast-container.error {
    background-color: #dc3545;
}

.toast-container.info {
    background-color: #17a2b8;
}

/* Estilos para formularios */
.form-group {
    margin-bottom: 1rem;
}

.form-control {
    border-radius: 5px;
    padding: 0.75rem;
    border: 1px solid #ccc;
    width: 100%;
    height: 100% !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

label {
    font-size: 16px;
    color: #333;
}

.input-group-text {
    background-color: #007bff;
    color: white;
    border-radius: 5px 0 0 5px;
}

.input-group {
    margin-bottom: 1rem;
}

select.form-control {
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilos para el encabezado */
.dashboard-header {
    background: linear-gradient(135deg, #000000, #1d48d6);
    padding: 40px 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.dashboard-header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
}
.dashboard-title {
    color: white;
    font-size: 2.5em;
    margin: 0;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.dashboard-subtitle {
    color: rgba(255,255,255,0.9);
    font-size: 1.1em;
    margin: 10px 0 25px 0;
}
.header-content {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}